Repository dya-mond/Book-Study, pull requests merged in 2022-05, with the labels that each got.

#1 [chapter 1~3] 내용 정리
  우진/chapter1/협력하는_객체들의_공동체.md
  우진/chapter2/이상한나라의_객체.md
  우진/chapter3/타입과추상화.md
Labels: chapter1, chapter2, chapter3

#4 2장 이상한 나라의 객체 정리
  kimziou77/02_이상한_나라의_객체.pdf
Labels: chapter2

#3 [Chapter 1] 협력하는 객체들의 공동체
  민환/Chapter1.md
Labels: chapter1

#5 [Chapter3] 타입과추상화 코드 수정
  우진/chapter3/타입과추상화.md
Labels: chapter3
